<div class="w-full">
    <div class="mt-5">
        <form [formGroup]="revenueForm" (ngSubmit)="submit()">
            <label class="block font-medium mb-1">
                Total Revenue <span class="text-red-600">*</span>
            </label>
            <input 
                class="border mr-2 p-1 text-neutral-900 w-1/5"
                formControlName="revenue"
                placeholder="ex. 250k, 10m, .5b"
                #revenueInput/>
            <button
                class="p-1 pl-4 pr-4 rounded-md border bg-slate-400 text-slate-700 font-semibold disabled:text-slate-500"
                (click)="submit()"
                [disabled]="!revenueForm.valid">
                Submit
            </button>
            @if (revenueForm.invalid && revenueForm.controls['revenue'].dirty) {
                <div class="text-red-600 mt-2 italic">
                    @if (revenueForm.controls['revenue'].errors?.['required']) {
                        Revenue is required.<br/>
                    }
                    @if (revenueForm.controls['revenue'].errors?.['minlength']) {
                        Revenue must be at least 2 characters long.<br/>
                    }
                    @if (revenueForm.controls['revenue'].errors?.['invalidFinancialNumber']) {
                        Financial number format is required (ex. 250k, 10m, .5b).<br/>
                    }
                </div>
            }
        </form>
    </div>
</div>
